@import "tailwindcss";
@import "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }

  .dark ::-webkit-scrollbar-thumb {
    background: #475569;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }
}
